[postgresql]
host=
database=stonks2
user=
password=

[postgresql-data]
host=
database=stonks2
user=
password=

[postgresql-data-testing]
host=
database=stonks-testing
user=
password=

[postgresql-web]
host=
database=stonks2
user=
password=