#screener-form h4 {
	margin-bottom: 0;
}

#screener-form input[type="number"] {
	width: 110px;
}

.result-btn {
	padding: 10px 20px;
	text-transform: uppercase;
	width: 100%;
}

.reset-btn {
	border-radius: 0 5px 5px 0;
	padding: 0 15px;
}

.screener-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 5px;
}

.screener-items > div {
	display: flex;
	align-items: center;
}

.screener-items > div > span {
	margin: 0 1vw;
}
