AWS_ACCESS_KEY=
AWS_SECRET_KEY=

SPARK_SHARE_VOLUME=../spark/src
LOCAL_STREAMING_STORAGE=C:/spark/streaming
STREAMING_STORAGE=/tmp/streaming
LOCAL_AVRO_STORAGE=C:/spark/avro
AVRO_STORAGE=/tmp/avro

AWS_BUCKET_NAME=
AWS_PSQL_ADDRESS=
AWS_PSQL_ADDRESS_1=
AWS_PSQL_ADDRESS_2=
POSTGRES_DB=stonks2
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_STORAGE=../db/pg-data

SPARK_ADDRESS=172.1.0.2
MONGO_ADDRESS=172.1.0.10
MONGO_STORAGE=../mongodb

YCHART_ACCOUNT=
YCHART_PASSWORD=

FINNHUB_KEY=